<div class="jumbotron mt-4">
  <h1 class="display-4">Stock app with NodeJs</h1>
  <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <hr class="my-4">
  <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque adipisci, iure temporibus dolorum vel quam!</p>
  <p class="lead">
  <a class="btn btn-primary btn-lg" href="https://github.com/AlvaroIribarren" role="button">My Github</a>
  </p>
</div>